.transition {
    transition: all 0.3 ease-in-out;
}

.rotate{
            animation-name: rotate_image;
            animation-duration: 5s;
            animation-iteration-count: infinite;
        }

@keyframes rotate_image {
            from{
                transform: rotate(0deg);
            }
            to{
                transform: rotate(360deg);
            }
        }
        